__pycache__/
*.py[cod]
*$py.class
*.so

.venv/
venv/
env/
ENV/

*.egg-info/
*.egg
dist/
build/
wheels/
pip-wheel-metadata/

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.mypy_cache/
.ruff_cache/

.combinator/
combinator-store/

.idea/
.vscode/
*.swp
*.swo
.DS_Store
